# macOS
.DS_Store

# Python
venv/
__pycache__/
.pytest_cache/
*.pyc

# Environment variables
.env
/frontend/.env.local

# VS Code (optional)
.vscode/

# Node.js / Next.js
node_modules/
.next/
dist/
build/